*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;

background-color: #fff;
 background-color: #050032;
  font-family: Helvetica, sans-serif;      

}

button{
    
    margin-top: 80px;
    margin-left: 40px;
    cursor: pointer;
    height: 50px;
    width: 250px;
    font-size: 1.2rem;
    background-color: rgb(12, 92, 17);
    border-radius: 10px;
    color: white;
    box-shadow: inset 2px 2px 3px  white,
                inset -5px -5px 3px rgb(1, 39, 1);
}
button:hover{
    box-shadow: none;
}
a
{
    text-decoration: none;
    color: white;
}